<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="./style.css">
    <meta name="author" content="OdK_webdesign">

    <!--social media uitleezer-->
    <meta property="og:title" content="OdK_webdesign">
    <meta property="og:url" content="https://www.odk-webdesign.nl/">
    <meta property="og:image" content="https://www.odk-webdesign.nl/">
    <meta property="og:site_name" content="OdK_webdesign">

    <title>Odk-Webdesign</title>
    <!--    <link rel="apple-touch-icon" href="<%= BASE_URL %>favicon.ico">-->
    <!--    <link rel="icon" href="<%= BASE_URL %>favicon.ico" type="image/x-icon"/>-->
    <!--    <link rel="shortcut icon" href="<%= BASE_URL %>favicon.ico" type="image/x-icon" />-->

</head>
<body>


<section id="section-1">

    <h1 class="line typewriter">
        Welkom bij {{ OdK_webdesign }}
    </h1>
    <p>
        Neem gerust contact op.
    </p>
    <ul>
        <li class="media">
            <a href="https://github.com/Gerbenodk" target="_blank">
                <i class="fa fa-github" aria-hidden="true"></i>
            </a>
        </li>
        <li class="media">
            <a href="tel:+31612695190">
                <i class="fa fa-phone" aria-hidden="true"></i>
            </a>
        </li>
        <li class="media">
            <a href="mailto: gerben@odk-webdesign.nl">
                <i class="fa fa-envelope-o" aria-hidden="true"></i>
            </a>
        </li>
    </ul>
</section>

<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
</body>
</html>
